<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/student_management/vars.css">
  <link rel="stylesheet" href="/css/student_management/style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="div">
    <div class="depth-0-frame-0">
      <div class="depth-1-frame-0">
        <div class="depth-2-frame-0">
          <div class="depth-3-frame-0">
            <div class="depth-4-frame-0">
              <div class="depth-5-frame-0">
                <img class="vector-0" src="/svg/student_management/vector-00.svg" />
                <img class="vector-1" src="/svg/student_management/vector-10.svg" />
                <div class="depth-6-frame-0">
                  <div class="depth-7-frame-0"></div>
                </div>
              </div>
            </div>
            <div class="depth-4-frame-1">
              <a href="/" style="text-decoration: none; color: inherit;">
                <div class="edu">Edu+</div>
              </a>
            </div>
          </div>
          <div class="depth-3-frame-1">
            <div class="depth-4-frame-02">
              <div class="depth-5-frame-02">
                <a href="/" style="text-decoration: none; color: inherit;">
                  <div class="classroom">Classroom</div>
                </a>
              </div>
              <div class="depth-5-frame-1">
                <div class="library">Library</div>
              </div>
              <div class="depth-5-frame-2">
                <div class="assignments">Assignments</div>
              </div>
              <div class="depth-5-frame-3">
                <div class="grades">Grades</div>
              </div>
              <div class="depth-5-frame-4">
                <a href="/students" style="text-decoration: none; color: inherit;">
                  <div class="people">People</div>
                </a>
              </div>
            </div>
            <div class="depth-4-frame-12">
              <div class="depth-5-frame-03">
                <div class="depth-6-frame-02">
                  <div class="depth-7-frame-02">
                    <img class="vector-02" src="/svg/student_management/vector-01.svg" />
                    <div class="depth-8-frame-0"></div>
                  </div>
                </div>
              </div>
              <div class="depth-5-frame-12">
                <div class="depth-6-frame-02">
                  <div class="depth-7-frame-02">
                    <img class="vector-03" src="/svg/student_management/vector-02.svg" />
                    <div class="depth-8-frame-02"></div>
                  </div>
                </div>
              </div>
            </div>
            <img class="depth-4-frame-2" src="/images/student_management/depth-4-frame-20.png" />
          </div>
        </div>
        <div class="depth-2-frame-1">
          <div class="depth-3-frame-02">
            <div class="depth-4-frame-03">
              <div class="students">Students</div>
            </div>
            <div class="depth-4-frame-13"></div>
            <div class="depth-4-frame-22">
              <div class="depth-6-frame-03">
                <div class="_3-d-avatars-31">
                  <img
                    class="avatars-3-d-avatar-3"
                    src="/images/student_management/avatars-3-d-avatar-30.png"
                  />
                </div>
                <div class="div2">김단소</div>
                <div class="_1557">1557점</div>
              </div>
            </div>
            <div class="depth-4-frame-3">
              <div class="icon-button">
                <img class="plus" src="/svg/student_management/plus0.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>