<div class="div">
  <div class="depth-0-frame-0">
    <div class="depth-1-frame-0">
      <div class="depth-2-frame-0">
        <div class="depth-3-frame-0">
          <div class="depth-4-frame-0">
            <div class="depth-5-frame-0">
              <img class="vector-0" src="vector-00.svg" />
              <img class="vector-1" src="vector-10.svg" />
              <div class="depth-6-frame-0">
                <div class="depth-7-frame-0"></div>
              </div>
            </div>
          </div>
          <div class="depth-4-frame-1">
            <div class="edu">Edu+</div>
          </div>
        </div>
        <div class="depth-3-frame-1">
          <div class="depth-4-frame-02">
            <div class="depth-5-frame-02">
              <div class="classroom">Classroom</div>
            </div>
            <div class="depth-5-frame-1">
              <div class="library">Library</div>
            </div>
            <div class="depth-5-frame-2">
              <div class="assignments">Assignments</div>
            </div>
            <div class="depth-5-frame-3">
              <div class="grades">Grades</div>
            </div>
            <div class="depth-5-frame-4">
              <div class="people">People</div>
            </div>
          </div>
          <div class="depth-4-frame-12">
            <div class="depth-5-frame-03">
              <div class="depth-6-frame-02">
                <div class="depth-7-frame-02">
                  <img class="vector-02" src="vector-01.svg" />
                  <div class="depth-8-frame-0"></div>
                </div>
              </div>
            </div>
            <div class="depth-5-frame-12">
              <div class="depth-6-frame-02">
                <div class="depth-7-frame-02">
                  <img class="vector-03" src="vector-02.svg" />
                  <div class="depth-8-frame-02"></div>
                </div>
              </div>
            </div>
          </div>
          <img class="depth-4-frame-2" src="depth-4-frame-20.png" />
        </div>
      </div>
      <div class="depth-2-frame-1">
        <div class="depth-3-frame-02">
          <div class="depth-4-frame-03">
            <div class="div2">발표자 뽑기</div>
          </div>
          <div class="depth-4-frame-13">
            <div class="div3">뽑기 설정</div>
          </div>
          <div class="switch-field">
            <div class="checkbox-and-label">
              <div class="label">전에 뽑았던 학생 지우기</div>
              <img class="switch" src="switch0.svg" />
            </div>
            <div class="description">
              이전에 뽑았던 학생을 목록에서 삭제합니다
            </div>
          </div>
          <div class="depth-4-frame-6">
            <div class="depth-5-frame-04">
              <div class="depth-6-frame-03">
                <div class="div4">뽑기</div>
              </div>
            </div>
          </div>
        </div>
        <div class="rectangle-8"></div>
        <div class="rectangle-5"></div>
        <div class="_3-d-avatars-31">
          <img class="avatars-3-d-avatar-1" src="avatars-3-d-avatar-10.png" />
        </div>
        <div class="rectangle-6"></div>
        <div class="_3-d-avatars-32">
          <img class="avatars-3-d-avatar-1" src="avatars-3-d-avatar-11.png" />
        </div>
        <div class="rectangle-7"></div>
        <div class="_3-d-avatars-33">
          <img class="avatars-3-d-avatar-1" src="avatars-3-d-avatar-12.png" />
        </div>
        <div class="rectangle-72"></div>
        <div class="_3-d-avatars-332">
          <img class="avatars-3-d-avatar-1" src="avatars-3-d-avatar-13.png" />
        </div>
        <div class="rectangle-73"></div>
        <div class="_3-d-avatars-333">
          <img class="avatars-3-d-avatar-1" src="avatars-3-d-avatar-14.png" />
        </div>
      </div>
    </div>
  </div>
</div>
