<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/random_student/vars.css">
  <link rel="stylesheet" href="/css/random_student/style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="div">
    <div class="depth-0-frame-0">
      <div class="depth-1-frame-0">
        <div class="depth-2-frame-0">
          <div class="depth-3-frame-0">
            <div class="depth-4-frame-0">
              <div class="depth-5-frame-0">
                <img class="vector-0" src="/svg/random_student/vector-00.svg" />
                <img class="vector-1" src="/svg/random_student/vector-10.svg" />
                <div class="depth-6-frame-0">
                  <div class="depth-7-frame-0"></div>
                </div>
              </div>
            </div>
            <div class="depth-4-frame-1">
              <a href="/" style="text-decoration: none; color: inherit;">
                <div class="edu">Edu+</div>
              </a>
            </div>
          </div>
          <div class="depth-3-frame-1">
            <div class="depth-4-frame-02">
              <div class="depth-5-frame-02">
                <a href="/" style="text-decoration: none; color: inherit;">
                  <div class="classroom">Classroom</div>
                </a>
              </div>
              <div class="depth-5-frame-1">
                <div class="library">Library</div>
              </div>
              <div class="depth-5-frame-2">
                <div class="assignments">Assignments</div>
              </div>
              <div class="depth-5-frame-3">
                <div class="grades">Grades</div>
              </div>
              <div class="depth-5-frame-4">
                <a href="/students" style="text-decoration: none; color: inherit;">
                  <div class="people">People</div>
                </a>
              </div>
            </div>
            <div class="depth-4-frame-12">
              <div class="depth-5-frame-03">
                <div class="depth-6-frame-02">
                  <div class="depth-7-frame-02">
                    <img class="vector-02" src="/svg/random_student/vector-01.svg" />
                    <div class="depth-8-frame-0"></div>
                  </div>
                </div>
              </div>
              <div class="depth-5-frame-12">
                <div class="depth-6-frame-02">
                  <div class="depth-7-frame-02">
                    <img class="vector-03" src="/svg/random_student/vector-02.svg" />
                    <div class="depth-8-frame-02"></div>
                  </div>
                </div>
              </div>
            </div>
            <img class="depth-4-frame-2" src="/images/random_student/depth-4-frame-20.png" />
          </div>
        </div>
        <div class="depth-2-frame-1">
          <div class="depth-3-frame-02">
            <div class="depth-4-frame-03">
              <div class="div2">발표자 뽑기</div>
            </div>
            <div class="depth-4-frame-13">
              <div class="div3">뽑기 설정</div>
            </div>
            <div class="switch-field">
              <div class="checkbox-and-label">
                <div class="label">전에 뽑았던 학생 지우기</div>
                <label class="switch">
                  <input type="checkbox" id="resetSwitch">
                  <span class="slider round"></span>
                </label>
              </div>
              <div class="description">
                이전에 뽑았던 학생을 목록에서 삭제합니다
              </div>
            </div>
            <div class="student-count-field">
              <div class="checkbox-and-label">
                <div class="label">학생 수 설정</div>
                <div class="count-input">
                  <input type="number" id="studentCount" min="1" max="50" value="20">
                  <button id="applyCount">적용</button>
                </div>
              </div>
              <div class="description">
                뽑기에 참여할 학생 수를 설정합니다 (1-50명)
              </div>
            </div>
            <div class="depth-4-frame-6">
              <div class="selection-indicator"></div>
              <div class="avatar-carousel">
                <!-- 아바타 박스들은 JavaScript로 동적 생성됩니다 -->
              </div>
            </div>
            <div class="selected-students-section">
              <div class="selected-students-header">
                <h3>선택된 학생 목록</h3>
                <button id="clearSelection" class="clear-button">초기화</button>
              </div>
              <div class="selected-students-list">
                <!-- 선택된 학생 목록은 JavaScript로 동적 생성됩니다 -->
              </div>
            </div>
          </div>
          <div class="depth-5-frame-04">
            <div class="depth-6-frame-03">
              <div class="div4">뽑기</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/auth-check.js"></script>
  <script src="/js/config.js"></script>
  <script src="/js/random_student/script.js"></script>
</body>
</html>