<div class="div">
  <div class="depth-0-frame-0">
    <div class="depth-1-frame-0">
      <div class="depth-2-frame-0">
        <div class="depth-3-frame-0">
          <div class="depth-4-frame-0">
            <div class="depth-5-frame-0">
              <img class="vector-0" src="vector-00.svg" />
              <img class="vector-1" src="vector-10.svg" />
              <div class="depth-6-frame-0">
                <div class="depth-7-frame-0"></div>
              </div>
            </div>
          </div>
          <div class="depth-4-frame-1">
            <div class="edu-plus">Edu Plus</div>
          </div>
        </div>
        <div class="depth-3-frame-1">
          <div class="depth-4-frame-02">
            <div class="depth-5-frame-02">
              <div class="div2">가격</div>
            </div>
            <div class="depth-5-frame-1">
              <div class="div2">자료</div>
            </div>
            <div class="depth-5-frame-2">
              <div class="div2">도움말</div>
            </div>
          </div>
          <div class="depth-4-frame-12">
            <div class="depth-5-frame-03">
              <div class="depth-6-frame-02">
                <div class="div3">로그인</div>
              </div>
            </div>
            <div class="depth-5-frame-12">
              <div class="depth-6-frame-02">
                <div class="div4">무료로 시작하기</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="depth-2-frame-1">
        <div class="depth-3-frame-02">
          <div class="depth-4-frame-03">
            <div class="depth-5-frame-04">
              <div
                class="depth-6-frame-03"
                style="
                  background: url(depth-6-frame-03.png) center;
                  background-size: cover;
                  background-repeat: no-repeat;
                "
              >
                <div class="depth-7-frame-02">
                  <div class="depth-8-frame-0">
                    <div class="div5">강의실 관리를 간단하게</div>
                  </div>
                  <div class="depth-8-frame-1">
                    <div class="edu-plus2">
                      Edu Plus는 원활하고 효율적인 강의실 운영에 필요한 모든
                      기능을 갖추고 있습니다. 그리고 사용하기 너무 쉬우니까요.
                      (하지만 걱정하지 마세요. 학생들이 사용할 일은 없습니다.)
                    </div>
                  </div>
                </div>
                <div class="depth-7-frame-1">
                  <div class="depth-8-frame-02">
                    <div class="depth-9-frame-0">
                      <div class="depth-10-frame-0">
                        <img class="vector-02" src="vector-01.svg" />
                        <div class="depth-11-frame-0"></div>
                      </div>
                    </div>
                    <div class="depth-9-frame-1">
                      <div class="div6">학교 이메일 입력</div>
                    </div>
                    <div class="depth-9-frame-2">
                      <div class="depth-10-frame-02">
                        <div class="depth-11-frame-02">
                          <div class="div7">시작하기</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="depth-4-frame-13">
            <div class="depth-5-frame-05">
              <div class="depth-6-frame-04">
                <div class="depth-7-frame-03">
                  <div class="div8">주요 기능</div>
                </div>
                <div class="depth-7-frame-12">
                  <div class="edu-plus3">
                    Edu Plus는 전세계의 교사들의 삶을 단순화하기 위한 궁극의
                    강의실 관리 도구입니다. 아래 몇 가지 주요 기능을 살펴보세요.
                  </div>
                </div>
              </div>
              <div class="depth-6-frame-1">
                <div class="depth-7-frame-04">
                  <div class="div7">더 알아보기</div>
                </div>
              </div>
            </div>
            <div class="depth-5-frame-13">
              <div class="depth-6-frame-05">
                <div class="depth-7-frame-05">
                  <img class="depth-8-frame-03" src="depth-8-frame-02.png" />
                  <div class="depth-8-frame-12">
                    <div class="depth-9-frame-02">
                      <div class="div9">수업 생성 및 관리</div>
                    </div>
                    <div class="depth-9-frame-12">
                      <div class="div10">
                        몇 분 만에 강의실을 설정하세요. 학생을 편리하게
                        추가하거나 제거하세요.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="depth-7-frame-13">
                  <img class="depth-8-frame-03" src="depth-8-frame-03.png" />
                  <div class="depth-8-frame-12">
                    <div class="depth-9-frame-02">
                      <div class="div9">점수 추적</div>
                    </div>
                    <div class="depth-9-frame-12">
                      <div class="div10">
                        과제, 퀴즈 등의 점수를 빠르고 쉽게 추적하세요.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="depth-7-frame-2">
                  <img class="depth-8-frame-03" src="depth-8-frame-04.png" />
                  <div class="depth-8-frame-12">
                    <div class="depth-9-frame-02">
                      <div class="div9">발표자 뽑기</div>
                    </div>
                    <div class="depth-9-frame-12">
                      <div class="div10">
                        클릭 한 번으로 발표자를 뽑고, 점수를 부여하세요
                      </div>
                    </div>
                  </div>
                </div>
                <div class="depth-7-frame-3">
                  <img class="depth-8-frame-03" src="depth-8-frame-05.png" />
                  <div class="depth-8-frame-12">
                    <div class="depth-9-frame-02">
                      <div class="div9">그룹 생성</div>
                    </div>
                    <div class="depth-9-frame-12">
                      <div class="div10">
                        수업 활동 및 프로젝트를 위한 그룹을 쉽게 생성하고
                        관리하세요.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="depth-4-frame-2">
            <div class="depth-5-frame-06">
              <div class="depth-6-frame-06">
                <img class="depth-7-frame-06" src="depth-7-frame-05.png" />
              </div>
              <div class="depth-6-frame-12">
                <img class="depth-7-frame-06" src="depth-7-frame-06.png" />
              </div>
              <div class="depth-6-frame-2">
                <img class="depth-7-frame-06" src="depth-7-frame-07.png" />
              </div>
            </div>
          </div>
          <div class="depth-4-frame-3">
            <div class="depth-5-frame-07">
              <div class="depth-6-frame-07">
                <div class="depth-7-frame-07">
                  <div class="edu-plus4">Edu Plus를 사용해보시겠습니까?</div>
                </div>
                <div class="depth-7-frame-14">
                  <div class="div11">
                    무료 계정을 생성하고 간편하게 강의실을 관리해보세요.
                  </div>
                </div>
              </div>
              <div class="depth-6-frame-13">
                <div class="depth-7-frame-08">
                  <div class="depth-8-frame-04">
                    <div class="depth-9-frame-03">
                      <div class="div7">시작하기</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
