<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/auth-check.js"></script>
  <link rel="stylesheet" href="/css/main/vars.css">
  <link rel="stylesheet" href="/css/main/style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="div">
    <div class="depth-0-frame-0">
      <div class="depth-1-frame-0">
        <div class="depth-2-frame-0">
          <div class="depth-3-frame-0">
            <div class="depth-4-frame-0">
              <div class="depth-5-frame-0">
                <div class="depth-6-frame-0">
                  <div class="depth-7-frame-0">
                    <div class="depth-8-frame-0">
                      <div class="depth-9-frame-0">
                        <img class="vector-0" src="/svg/main/vector-00.svg" />
                        <div class="depth-10-frame-0"></div>
                      </div>
                    </div>
                    <div class="depth-8-frame-1">
                      <div class="home">Home</div>
                    </div>
                  </div>
                  <div class="depth-7-frame-1">
                    <div class="depth-8-frame-0">
                      <div class="depth-9-frame-0">
                        <img class="vector-02" src="/svg/main/vector-01.svg" />
                        <div class="depth-10-frame-02"></div>
                      </div>
                    </div>
                    <div class="depth-8-frame-1">
                      <div class="classroom">Classroom</div>
                    </div>
                  </div>
                  <div class="depth-7-frame-2">
                    <div class="depth-8-frame-0">
                      <div class="depth-9-frame-0">
                        <img class="vector-03" src="/svg/main/vector-02.svg" />
                        <div class="depth-10-frame-03"></div>
                      </div>
                    </div>
                    <div class="depth-8-frame-1">
                      <a href="/students" style="text-decoration: none; color: inherit;">
                        <div class="students">Students</div>
                      </a>
                    </div>
                  </div>
                  <div class="depth-7-frame-4">
                    <div class="depth-8-frame-0">
                      <div class="depth-9-frame-0">
                        <img class="vector-05" src="/svg/main/vector-04.svg" />
                        <div class="depth-10-frame-05"></div>
                      </div>
                    </div>
                    <div class="depth-8-frame-1">
                      <a href="/random_student" style="text-decoration: none; color: inherit;">
                        <div class="draw">Choose Presenter</div>
                      </a>
                    </div>
                  </div>
                  <div class="depth-7-frame-5">
                    <div class="depth-8-frame-0">
                      <div class="depth-9-frame-0">
                        <img class="vector-06" src="/svg/main/vector-05.svg" />
                        <div class="depth-10-frame-06"></div>
                      </div>
                    </div>
                    <div class="depth-8-frame-1">
                      <a href="/random_seat" style="text-decoration: none; color: inherit;">
                        <div class="group">Seat Assignment</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="depth-5-frame-1">
                <div class="depth-6-frame-02">
                  <div class="depth-7-frame-02">
                    <div class="new-class">New class</div>
                  </div>
                </div>
                <div class="depth-6-frame-1">
                  <div class="depth-7-frame-03">
                    <div class="depth-8-frame-0">
                      <div class="depth-9-frame-0">
                        <img class="vector-07" src="/svg/main/vector-06.svg" />
                        <div class="depth-10-frame-07"></div>
                      </div>
                    </div>
                    <div class="depth-8-frame-1">
                      <div class="feedback">Feedback</div>
                    </div>
                  </div>
                  <div class="depth-7-frame-1">
                    <div class="depth-8-frame-0">
                      <div class="depth-9-frame-0">
                        <img class="vector-08" src="/svg/main/vector-07.svg" />
                        <div class="depth-10-frame-08"></div>
                      </div>
                    </div>
                    <div class="depth-8-frame-1">
                      <div class="help">Help</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="depth-3-frame-1">
            <div class="depth-4-frame-02">
              <div class="depth-5-frame-02">
                <div class="home2">Home</div>
              </div>
            </div>
            <div class="depth-4-frame-1">
              <div class="your-classes">Your classes</div>
            </div>
            <div class="depth-4-frame-2">
              <img class="depth-5-frame-03" src="/images/main/depth-5-frame-02.png" />
              <div class="depth-5-frame-12">
                <div class="depth-6-frame-03">
                  <div class="_1-1">1학년 1반</div>
                </div>
                <div class="depth-6-frame-12">
                  <div class="_20-students">20 students</div>
                </div>
              </div>
            </div>
            <div class="depth-4-frame-3">
              <img class="depth-5-frame-03" src="/images/main/depth-5-frame-03.png" />
              <div class="depth-5-frame-12">
                <div class="depth-6-frame-03">
                  <div class="_1-2">1학년 2반</div>
                </div>
                <div class="depth-6-frame-13">
                  <div class="_20-students">20 students</div>
                </div>
              </div>
            </div>
            <div class="depth-4-frame-4">
              <img class="depth-5-frame-03" src="/images/main/depth-5-frame-04.png" />
              <div class="depth-5-frame-12">
                <div class="depth-6-frame-03">
                  <div class="_1-3">1학년 3반</div>
                </div>
                <div class="depth-6-frame-14">
                  <div class="_20-students">20 students</div>
                </div>
              </div>
            </div>
            <div class="depth-4-frame-5">
              <img class="depth-5-frame-03" src="/images/main/depth-5-frame-05.png" />
              <div class="depth-5-frame-12">
                <div class="depth-6-frame-03">
                  <div class="_1-4">1학년 4반</div>
                </div>
                <div class="depth-6-frame-14">
                  <div class="_20-students">20 students</div>
                </div>
              </div>
            </div>
            <div class="depth-4-frame-6">
              <img class="depth-5-frame-03" src="/images/main/depth-5-frame-06.png" />
              <div class="depth-5-frame-12">
                <div class="depth-6-frame-03">
                  <div class="_1-5">1학년 5반</div>
                </div>
                <div class="depth-6-frame-15">
                  <div class="_20-students">20 students</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>