<div class="div">
  <div class="depth-0-frame-0">
    <div class="depth-1-frame-0">
      <div class="depth-2-frame-0">
        <div class="depth-3-frame-0">
          <div class="depth-4-frame-0">
            <div class="depth-5-frame-0">
              <img class="vector-0" src="vector-00.svg" />
              <img class="vector-1" src="vector-10.svg" />
              <div class="depth-6-frame-0">
                <div class="depth-7-frame-0"></div>
              </div>
            </div>
          </div>
          <div class="depth-4-frame-1">
            <div class="edu">Edu+</div>
          </div>
        </div>
        <div class="depth-3-frame-1">
          <div class="depth-4-frame-02">
            <div class="depth-5-frame-02">
              <div class="classroom">Classroom</div>
            </div>
            <div class="depth-5-frame-1">
              <div class="library">Library</div>
            </div>
            <div class="depth-5-frame-2">
              <div class="assignments">Assignments</div>
            </div>
            <div class="depth-5-frame-3">
              <div class="grades">Grades</div>
            </div>
            <div class="depth-5-frame-4">
              <div class="people">People</div>
            </div>
          </div>
          <div class="depth-4-frame-12">
            <div class="depth-5-frame-03">
              <div class="depth-6-frame-02">
                <div class="depth-7-frame-02">
                  <img class="vector-02" src="vector-01.svg" />
                  <div class="depth-8-frame-0"></div>
                </div>
              </div>
            </div>
            <div class="depth-5-frame-12">
              <div class="depth-6-frame-02">
                <div class="depth-7-frame-02">
                  <img class="vector-03" src="vector-02.svg" />
                  <div class="depth-8-frame-02"></div>
                </div>
              </div>
            </div>
          </div>
          <img class="depth-4-frame-2" src="depth-4-frame-20.png" />
        </div>
      </div>
      <div class="depth-2-frame-1">
        <div class="depth-3-frame-02">
          <div class="depth-4-frame-03">
            <div class="students">Students</div>
          </div>
          <div class="depth-4-frame-13"></div>
          <div class="depth-4-frame-22">
            <div class="depth-6-frame-03">
              <div class="_3-d-avatars-31">
                <img
                  class="avatars-3-d-avatar-3"
                  src="avatars-3-d-avatar-30.png"
                />
              </div>
              <div class="div2">김단소</div>
              <div class="_1557">1557점</div>
            </div>
          </div>
          <div class="depth-4-frame-3">
            <div class="icon-button">
              <img class="plus" src="plus0.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
