.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.depth-0-frame-0 {
  background: #f7fafa;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 800px;
  position: relative;
  overflow: hidden;
}
.depth-1-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-2-frame-0 {
  border-style: solid;
  border-color: #e5e8eb;
  border-width: 0px 0px 1px 0px;
  padding: 12px 40px 12px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-3-frame-0 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.depth-4-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.depth-5-frame-0 {
  flex: 1;
  width: 16px;
  position: relative;
  overflow: hidden;
}
.vector-0 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.vector-1 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.depth-6-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
}
.depth-7-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
}
.depth-4-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.edu {
  color: #0d171c;
  text-align: left;
  font-family: "Lexend-Bold", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.depth-3-frame-1 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}
.depth-4-frame-02 {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 40px;
  position: relative;
}
.depth-5-frame-02 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.classroom {
  color: #0d171c;
  text-align: left;
  font-family: "Lexend-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-5-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.library {
  color: #0d171c;
  text-align: left;
  font-family: "Lexend-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-5-frame-2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.assignments {
  color: #0d171c;
  text-align: left;
  font-family: "Lexend-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-5-frame-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.grades {
  color: #0d171c;
  text-align: left;
  font-family: "Lexend-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-5-frame-4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.people {
  color: #0d171c;
  text-align: left;
  font-family: "Lexend-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-12 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.depth-5-frame-03 {
  background: #e8edf2;
  border-radius: 12px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 40px;
  max-width: 480px;
  position: relative;
  overflow: hidden;
}
.depth-6-frame-02 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.depth-7-frame-02 {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.vector-02 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.depth-8-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 15px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.depth-5-frame-12 {
  background: #e8edf2;
  border-radius: 12px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 40px;
  max-width: 480px;
  position: relative;
  overflow: hidden;
}
.vector-03 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.depth-8-frame-02 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.depth-4-frame-2 {
  border-radius: 20px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.depth-2-frame-1 {
  padding: 20px 160px 20px 160px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.depth-3-frame-02 {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 960px;
  height: 695px;
  max-width: 960px;
  position: relative;
  overflow: hidden;
}
.depth-4-frame-03 {
  padding: 20px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div2 {
  color: #0d171c;
  text-align: center;
  font-family: "Lexend-Bold", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-13 {
  padding: 16px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 47px;
  position: relative;
}
.seating-arrangement {
  color: #0d171c;
  text-align: left;
  font-family: "Lexend-Bold", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-22 {
  background: #f7fafa;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 72px;
  position: relative;
}
.depth-5-frame-04 {
  border-radius: 8px;
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.depth-5-frame-13 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.depth-6-frame-03 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 153px;
  position: relative;
  overflow: hidden;
}
.div3 {
  color: #0d171c;
  text-align: left;
  font-family: "Lexend-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-6-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
._20 {
  color: #4f7a94;
  text-align: left;
  font-family: "Lexend-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-3 {
  background: #f7fafa;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 72px;
  position: relative;
}
.depth-6-frame-04 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 195px;
  position: relative;
  overflow: hidden;
}
._4 {
  color: #0d171c;
  text-align: left;
  font-family: "Lexend-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
._28 {
  color: #4f7a94;
  text-align: left;
  font-family: "Lexend-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-4 {
  background: #f7fafa;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 72px;
  position: relative;
}
.depth-6-frame-05 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 218px;
  position: relative;
  overflow: hidden;
}
.u {
  color: #0d171c;
  text-align: left;
  font-family: "Lexend-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
._28-u {
  color: #4f7a94;
  text-align: left;
  font-family: "Lexend-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-5 {
  background: #f7fafa;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 72px;
  position: relative;
}
.depth-6-frame-06 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 192px;
  position: relative;
  overflow: hidden;
}
.div4 {
  color: #4f7a94;
  text-align: left;
  font-family: "Lexend-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-6 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-5-frame-05 {
  background: #1f94e0;
  border-radius: 12px;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 48px;
  min-width: 84px;
  max-width: 480px;
  position: relative;
  overflow: hidden;
}
.depth-6-frame-07 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.div5 {
  color: #f7fafa;
  text-align: center;
  font-family: "Lexend-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
