.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.depth-0-frame-0 {
  background: #f7fafa;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 800px;
  position: relative;
  overflow: hidden;
}
.depth-1-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-2-frame-0 {
  border-style: solid;
  border-color: #e5e8eb;
  border-width: 0px 0px 1px 0px;
  padding: 12px 40px 12px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-3-frame-0 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.depth-4-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.depth-5-frame-0 {
  flex: 1;
  width: 16px;
  position: relative;
  overflow: hidden;
}
.vector-0 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.vector-1 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.depth-6-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
}
.depth-7-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
}
.depth-4-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.edu {
  color: #0d171c;
  text-align: left;
  font-family: "Lexend-Bold", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.depth-3-frame-1 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}
.depth-4-frame-02 {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 40px;
  position: relative;
}
.depth-5-frame-02 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.classroom {
  color: #0d171c;
  text-align: left;
  font-family: "Lexend-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-5-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.library {
  color: #0d171c;
  text-align: left;
  font-family: "Lexend-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-5-frame-2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.assignments {
  color: #0d171c;
  text-align: left;
  font-family: "Lexend-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-5-frame-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.grades {
  color: #0d171c;
  text-align: left;
  font-family: "Lexend-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-5-frame-4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.people {
  color: #0d171c;
  text-align: left;
  font-family: "Lexend-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-12 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.depth-5-frame-03 {
  background: #e8edf2;
  border-radius: 12px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 40px;
  max-width: 480px;
  position: relative;
  overflow: hidden;
}
.depth-6-frame-02 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.depth-7-frame-02 {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.vector-02 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.depth-8-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 15px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.depth-5-frame-12 {
  background: #e8edf2;
  border-radius: 12px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 40px;
  max-width: 480px;
  position: relative;
  overflow: hidden;
}
.vector-03 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.depth-8-frame-02 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.depth-4-frame-2 {
  border-radius: 20px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.depth-2-frame-1 {
  padding: 20px 160px 20px 160px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.depth-3-frame-02 {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 960px;
  height: 695px;
  max-width: 960px;
  position: relative;
  overflow: hidden;
}
.depth-4-frame-03 {
  padding: 20px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.students {
  color: #0d171c;
  text-align: center;
  font-family: "Lexend-Bold", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-13 {
  padding: 16px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 47px;
  position: relative;
}
.depth-4-frame-22 {
  background: #f7fafa;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 72px;
  position: relative;
}
.depth-6-frame-03 {
  flex-shrink: 0;
  width: 782px;
  height: 74px;
  position: relative;
  overflow: hidden;
}
._3-d-avatars-31 {
  width: 55px;
  height: 55px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.avatars-3-d-avatar-3 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.div2 {
  color: #0d171c;
  text-align: left;
  font-family: "Lexend-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 71px;
  top: 4px;
  width: 782px;
}
._1557 {
  color: #0d171c;
  text-align: left;
  font-family: "Lexend-Medium", sans-serif;
  font-size: 10px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 71px;
  top: 22px;
  width: 782px;
}
.depth-4-frame-3 {
  background: #f7fafa;
  padding: 2px 16px 2px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 72px;
  position: relative;
}
.icon-button {
  background: var(--var-sds-color-background-brand-default, #2c2c2c);
  border-radius: var(--var-sds-typography-scale-06, 32px);
  border-style: solid;
  border-color: var(--var-sds-color-border-brand-default, #2c2c2c);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.plus {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
